<div id="cat_item_selector_dialog">
	<form class="form-horizontal catItemSelector" id="cat_item_selector_form">
		<div class="form-header">
			<fieldset>
				<legend>
					{{i18n.catItemSelector.legends.categories}}
				</legend>
			</fieldset>
			<fieldset>
				<legend>
					{{i18n.catItemSelector.legends.items}}
				</legend>
			</fieldset>
		</div>
		<div class="form-content">
			<fieldset>
			{{#each choices}}
				{{#monsterRadio label}}
					<input type="radio" name="categoryId" value="{{id}}">
				{{/monsterRadio}}
			{{/each}}
			{{#if isEditable}}
				{{#if choices}}
					<hr>
				{{/if}}
				{{#monsterRadio i18n.catItemSelector.newCategory.label}}
					<input type="radio" name="categoryId" value="">
				{{/monsterRadio}}
				<input type="text" name="newCategoryId" class="span2" placeholder="{{i18n.catItemSelector.newCategory.placeholder}}" style="display: none;">
			{{/if}}
			</fieldset>

			<fieldset>
			{{#each choices}}
				{{> sub-category-wrapper}}
			{{/each}}
				{{> sub-category-wrapper id="" isEditable="true"}}
			</fieldset>
		</div>
		<div class="form-actions">
			<button type="button" class="monster-button-ghost js-cancel">
				{{i18n.cancel}}
			</button>
			<button type="submit" class="monster-button-primary js-select" disabled="disabled">
				{{i18n.select}}
			</button>
		</div>
	</form>
</div>

{{#*inline "sub-category-wrapper"}}
<div class="sub-category-wrapper" data-category="{{id}}" style="display: none;">
{{#each items}}
	{{#monsterRadio label}}
		<input type="radio" name="itemId" value="{{id}}">
	{{/monsterRadio}}
{{/each}}
{{#if isEditable}}
	{{#if items}}<hr>{{/if}}
	{{#monsterRadio @root.i18n.catItemSelector.newItem.label}}
		<input type="radio" name="itemId" value="">
	{{/monsterRadio}}
	<div class="control">
		<input type="text" name="newItemId.{{id}}" class="span2" placeholder="{{@root.i18n.catItemSelector.newItem.placeholder}}" style="display: none;">
	</div>
{{/if}}
</div>
{{/inline}}
